body{
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-ms-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	background: #FFF;
	position: relative;
}
header {
	padding: 15px 0;
	border-top: 8px solid #4D4E57;
	border-bottom: 1px solid #EBEBEB;
}
header h3{
	font-weight: normal;
}
header a.btn{
	margin-bottom: 25px;
	margin-top: 5px;
}
header a.btn-large{
	padding: 11px 19px 11px 13px;
}
a.btn.btn-info{
	color: #727272;
	text-shadow: 0 -1px 0 rgb(0, 0, 0);
	background-color: #EEEEEE;
	background-image: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EEEEEE));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
	background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
	background-repeat: repeat-x;
	border-color: #CDCDCD;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
header a.btn.github-icon:before{
	content: "U";
	font-family: "icons";
	font-size: 40px;
	vertical-align: middle;
}
header a.btn.twitter-icon:before{
	content: "^";
	font-family: "icons";
	font-size: 40px;
	vertical-align: middle;
 	color: #00ACEE;  
}
header iframe.twitter-follow-button{
	margin-right: 20px;
}
strong {
	color: #828282;
}
.big-padding-top-bottom{
	padding-top: 40px;
	padding-bottom: 40px;
}
.big-padding-left-right{
	padding-left: 40px;
	padding-right: 40px;
}
.gray-background{
	background: #F5F5F5;
}
.white-background{
	background: #FFF;
}
div.row-fluid.big-padding-top-bottom.white-background{
	border-bottom: 1px solid #EBEBEB;
}

div.row-fluid.big-padding-top-bottom.white-background section.span6{
	float: none;
	display: table-cell;
	vertical-align: middle;
}

div.pointer-wrapper{
	position: fixed;
	height: 44px;
	width: 100%;
	background: rgba(255,255,255,0.7);
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
div.pointer-wrapper.bottom{
	bottom: 0
}
div.pointer-wrapper.top{
	top: 0
}
div.bottom-pointer{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 15px 14px 0 14px;
	border-color: #ff8000 transparent transparent transparent;
	margin: 0 auto;
	margin-top: 15px;
	
	transition: border-width 0.5s;
	-webkit-transition: border-width 0.5s;
}
div.upper-pointer{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0  14px 15px 14px;
	border-color: transparent transparent #ff8000 transparent;
	margin: 0 auto;
	margin-top: 15px;
	
	transition: border-width 0.5s;
	-webkit-transition: border-width 0.5s;
}

div.bottom-pointer:hover{
	border-width: 20px 19px 0 19px;
	
	transition: border-width 1s;
	-webkit-transition: border-width 1s;
}
div.upper-pointer:hover{
	border-width: 0 19px 20px 19px;
	
	transition: border-width 1s;
	-webkit-transition: border-width 1s;
}
.image{
	text-align: center;
}

.image-right{
	text-align: right;
}
.image-left{
	text-align: left; 
}
img.top-linked{
	position: absolute;
	top: 8px;
	right: 20%;
	
	transition: right 1s ease-out;
	-webkit-transition: right 1s ease-out;
}

.leftmenu{
	width: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	position: fixed;
	top: 30%;
	left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	font-size: 35px;
	color: rgba(0,0,0,0.2);
	transition: color 1s;
	-webkit-transition: color 1s;
}
.leftmenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.leftmenu ul li{
	line-height: 40px;
}
.leftmenu ul li:hover{
	cursor: pointer;
}
.leftmenu ul li.selected{
	color: #FF8000;
	transition: color 1s;
	-webkit-transition: color 1s;
}
.leftmenu ul li.home:after{
	font-family: "icons";
	content: "S";
}
.leftmenu ul li.mobile:after{
	content: "\ \260E";
	font-size: 25px;
}
.leftmenu ul li.community:after{
	font-family: "icons";
	content: "K";
}
.leftmenu ul li.modular:after{
	font-family: "icons";
	content: "Ü";
}
.leftmenu ul li.fast:after{
	content: "⚡";
}
.leftmenu ul li.simple:after{
	font-family: "icons";
	content: "b";
}
.leftmenu ul li.basics:after{
	font-family: "icons";
	content: "Ì";
}

.small {
	font-size: 13px;
}
h5.smaller {
	line-height: 17px;
	font-size: 12px;
	font-weight: normal;
	margin-top: -10px;
}

.back-to-top:after{
	content: "9";
	font-family: "icons";
	-webkit-transform: rotate(90deg);
}

#example-app {
	margin: 13px;
	margin-left: 9.5px;
	margin-right: 9px;
	padding: 13px;
	min-height: 300px;
	border: 1px solid;
}
#example-app input {
	width: 100%;
	max-width: 250px;
}

#example-app .destroy {
	font-size: 12px;
	cursor: pointer;
}
#example-app label {
	width: auto;
	display: inline-block;
}


@media (min-width: 1200px){
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 940px;
	}
	
}

@media (max-width: 767px){
	div.row-fluid.big-padding-top-bottom.white-background section.span6.image{
		display: none;
	}
	div.pointer-wrapper{
		display: none;
	}
	
	img.top-linked{
		position: absolute;
		top: 8px;
		right: 80%;
		
		transition: right 1s ease-out;
		-webkit-transition: right 1s ease-out;
	}
	body{
		-webkit-tab-size: 4;
		-moz-tab-size: 4;
		-ms-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
	}
	pre.prettyprint {
		white-space:nowrap;
		overflow: auto;
	}
}
	
	

@media (orientation: portrait){
	img.top-linked{
		position: absolute;
		top: 8px;
		right: 80%;
		
		transition: right 1s ease-out;
		-webkit-transition: right 1s ease-out;
	}
}

@media (orientation: landscape){
	img.top-linked{
		position: absolute;
		top: 8px;
		right: 20%;
		
		transition: right 1s ease-out;
		-webkit-transition: right 1s ease-out;
	}
}

@media (max-width: 767px) and (orientation: portrait){
	img.top-linked{
		position: absolute;
		top: 8px;
		right: 80%;
		
		transition: right 1s ease-out;
		-webkit-transition: right 1s ease-out;
	}
}

@media (max-width: 767px) and (orientation: landscape){
	img.top-linked{
		position: absolute;
		top: 8px;
		right: 5%;
		
		transition: right 1s ease-out;
		-webkit-transition: right 1s ease-out;
	}
}
	