[submodule "todomvc"]
	path = todomvc
	url = https://github.com/ReFuel/TodoMVC_refueljs.git
[submodule "TodoMVC_refueljs"]
	path = TodoMVC_refueljs
	url = https://github.com/ReFuel/TodoMVC_refueljs.git
